@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile-info/profile-info.css);
@import url(./blocks/profile-info/__avatar/profile-info__avatar.css);
@import url(./blocks/profile-info/__avatar-button/profile-info__avatar-button.css);
@import url(./blocks/profile-info/__avatar-pen/profile-info__avatar-pen.css);
@import url(./blocks/profile-info/__data/profile-info__data.css);
@import url(./blocks/profile-info/__single-level/profile-info__single-level.css);
@import url(./blocks/profile-info/__name/profile-info__name.css);
@import url(./blocks/profile-info/__editing-button/profile-info__editing-button.css);
@import url(./blocks/profile-info/__editing-pen/profile-info__editing-pen.css);
@import url(./blocks/profile-info/__activity-type/profile-info__activity-type.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__button-vector/profile__button-vector.css);

@import url(./blocks/photo-library/photo-library.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__mark-block/element__mark-block.css);
@import url(./blocks/element/__mark/element__mark.css);
@import url(./blocks/element/__mark/_active/element__mark_active.css);
@import url(./blocks/element/__mark-counter/element__mark-counter.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__trash/_visible/element__trash_visible.css);
@import url(./blocks/element/__trash/_hidden/element__trash_hidden.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__author/footer__author.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_activ/popup_activ.css);
@import url(./blocks/popup/_animation/popup_animation.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input-place/popup__input-place.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_error/popup__input_error.css);
@import url(./blocks/popup/__validation-message/popup__validation-message.css);
@import url(./blocks/popup/__validation-message/_position/popup__validation-message_position_first.css);
@import url(./blocks/popup/__validation-message/_position/popup__validation-message_position_second.css);
@import url(./blocks/popup/__validation-message/_active/popup__validation-message_active.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_disabled/popup__save-button_disabled.css);

@import url(./blocks/popup/__increase-content/popup__increase-content.css);
@import url(./blocks/popup/_task/popup_task_show-image.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);